@import "variables";
@import "mixins";

.absolute-wrapper{
  position: fixed;
  //width:100%;
  bottom:0%;
  right:0%;
  font-size: 12px;
  line-height: 1.0;
  
}

.panel-resizable {
  // resize: both;
  // overflow: auto;
}

.panel-transparent {
  border-radius: 0px 0px 0 0 ;
  border-width: 0px;
  background: none;
  .panel-body{
    background: rgba(200, 200, 200, $opacity)!important;
    max-height: 300px;
    overflow: auto;
    padding:10px;
    .debug{
      color: #28a745;
    }
    .info{
      color: #17a2b8;
    }
    .time{
      color: #007bff;
    }
    .warn{
      color: #ffc107;
    }
    .error{
      color: #dc3545;
    }
  }
  .panel-footer{
    background: rgba(160, 160, 160, $opacity)!important;
    padding-bottom:0;
    border-width: 0px;
    border-radius: 0px 0px 0 0 ;
  }
}
